In [2]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect("movies.sqlite")
cur= conn.cursor()

In [5]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
cur.execute(query)
cur.fetchall()

[]

In [6]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
pd.read_sql(query, conn)

Empty DataFrame
Columns: [name]
Index: []

In [7]:
pd.read_sql(query, conn)

Empty DataFrame
Columns: [name]
Index: []

In [8]:
query = "SELECT * FROM directors LIMIT 50;"
pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM directors LIMIT 50;': no such table: directors

In [9]:
query = "PRAGMA table_info(movies)"
pd.read_sql(query, conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [10]:
count_movies = pd.read_sql("SELECT COUNT(*) FROM movies", conn)
count_movies

DatabaseError: Execution failed on sql 'SELECT COUNT(*) FROM movies': no such table: movies

In [11]:
count_movies = pd.read_sql("SELECT COUNT(*) As total_number FROM movies;", conn)
count_movies

DatabaseError: Execution failed on sql 'SELECT COUNT(*) As total_number FROM movies;': no such table: movies

In [12]:
count_movies = pd.read_sql("SELECT FROM movies WHERE revenue > 400000000;", conn)
count_movies.head()

DatabaseError: Execution failed on sql 'SELECT FROM movies WHERE revenue > 400000000;': near "FROM": syntax error

In [13]:
count_movies = pd.read_sql("SELECT FROM movies WHERE vote_count > 4500 ;", conn)
count_movies.head()

DatabaseError: Execution failed on sql 'SELECT FROM movies WHERE vote_count > 4500 ;': near "FROM": syntax error

In [14]:
query = "SELECT popularity, budget ROM movies;"
pop_budg = pd.read_sql(query, conn)
pop_budg.head()

DatabaseError: Execution failed on sql 'SELECT popularity, budget ROM movies;': near "movies": syntax error

In [15]:
query = "SELECT ID, popularity FROM movies WHERE popularity IS NOT NULL;"
ID_pop = pd.read_sql(query, conn)
ID_pop_budg.head()

DatabaseError: Execution failed on sql 'SELECT ID, popularity FROM movies WHERE popularity IS NOT NULL;': no such table: movies

In [16]:
query = "SELECT ID, popularity FROM movies WHERE popularity IS NOT NULL ORDER BY popularity DESC;"
ID_pop = pd.read_sql(query, conn)
ID_pop_budg.head()

DatabaseError: Execution failed on sql 'SELECT ID, popularity FROM movies WHERE popularity IS NOT NULL ORDER BY popularity DESC;': no such table: movies

In [ ]:
query = "SELECT COUNT(popularity), popularity FROM movies WHERE popularity IS NOT NULL GROUP BY popularity;"
popularity = pd.read_sql(query, conn)
popularity_budg.head()

In [ ]:
query = "SELECT COUNT(popularity), popularity FROM movies WHERE popularity IS NOT NULL GROUP BY popularity ORDER BY COUNT(popularity) DESC;"
popularity = pd.read_sql(query, conn)
popularity_budg.head()

In [ ]:
query = "SELECT revenue FROM movies WHERE revenue BETWEEN 1000000 AND 2000000;"
revenue = pd.read_sql(query, conn)
revenue.head()

In [ ]:
query = "SELECT AVG(budget) from movies;"
budget =pd.read_sql(query, conn)
budget.head()

In [ ]:
query = "SELECT * FROM directors LIMIT 5"
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECt directors.name AS director_name,
        SUM(movies.revenue) AS total_revenue
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY director.name
"""
output = pd.read_sql(query, conn)
output.head()